@import url('https://fonts.googleapis.com/css?family=Rubik+Maze');
@import url('https://fonts.googleapis.com/css?family=Rubik+Microbe');

.cell {
  background-color: #e9ffb6; 
  border: solid;
  border-color: rgb(255 255 255);
  width: 25px;
  height: 25px;
  margin: 1px;
}

.selected.active {
  background-color: rgb(121 44 252);
}

.selected {
  background-color:rgb(221, 246, 233);
}

.active {
  background-color: rgb(173 237 255);
}

.board {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
}
.buttonRow{
  display: flex; 
  justify-content: center;
  flex-direction: row;
}

h2 {
  margin-bottom: 0;
  font-family: 'Rubik Maze';
  font-size: 60px;
  font-weight: normal;
  animation: infinite-rainbow-color 3s infinite;
}

button {
  margin: 25px;
  width: 40%;
  border: black;
  align-items: center;
  background-color:rgb(209, 233, 233)
  /*animation: infinite-rainbow-background 6s infinite;*/
}

@keyframes infinite-rainbow-color {
  20% {color: rgb(101, 127, 133);}
  40% {color: rgba(132, 210, 195, 0.931);}
  60% {color: rgb(180, 209, 112);}
  80% {color: rgb(80, 80, 208);}
}

@keyframes infinite-rainbow-background {
  20% {background-color: rgb(198, 234, 172);}
  40% {background-color: rgba(213, 255, 255, 0.589);}
  60% {background-color: rgb(223, 247, 205);}
  80% {background-color: rgb(198, 234, 172);}
}


.cell:hover {
  background-color:rgb(214, 255, 241);
}

.grid {
  max-width: 95%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}